<article class="blog-post">
    <div>
        <h1 class="post-title">{{title}}</h1>
    </div>
    <div>
        <p class="post-content">{{content}}</p>
    </div>
    <div>
        <p class="created-by">created by {{user.username}} on {{format_date created_at}}</p>
        <a class="comment-link" href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
    </div>
</article>